/* I think I still see a spacing on the width */

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
}
h1 {
  font-size: 18px;
  line-height: 23px;
  font-family: "Chivo Mono", monospace;
}

h2 {
  font-size: 14px;
  width: 300px;
  font-family: "Chivo Mono", monospace;
}
h3 {
  font-size: 13px;
  width: 300px;
  font-family: "Chivo Mono", monospace;
}

p {
  font-size: 13px;
  width: 280px;
  font-family: "Alegreya Sans", sans-serif;
}

#console {
  position: absolute;
  width: 300px;
  height: 660px;
  margin: 10px;
  padding: 10px 20px;
  background-color: rgb(201, 153, 112);
  border-radius: 2px;
  border-style: inset;
  border-width: 5px;
  border-color: rgb(139, 100, 76);
}

.my-legend {
  width: auto;
}

.my-legend .legend-scale ul {
  margin: 0;
  width: auto;
  padding: 0;
  float: left;
}

.my-legend .legend-scale ul li {
  width: 150px;
  font-size: 13px;
  list-style: none;
  line-height: 18px;
  margin-bottom: 2px;
  width: 280px;
  font-family: "Alegreya Sans", sans-serif;
}

.my-legend .legend-labels li span {
  display: block;
  float: left;
  height: 16px;
  width: 30px;
  border-radius: 2px;
  margin-right: 10px;
  margin-left: 0;
  width: 280px;
}

/* .button-33 {
  touch-action: manipulation;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: 0;
} */

/* <!-- HTML !-->
<button class="button-16" role="button">Button 16</button> */

/* CSS */
.button-33 {
  background-color: burlywood;
  border-radius: 4px;
  border-color: #3c2917;
  color: black;
  cursor: pointer;
  font-family: "Chivo Mono", monospace;
  font-size: 14px;
  height: 25px;
  line-height: 20px;
  min-width: 54px;
  padding-bottom: 5px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: pre;
}

.button-33:hover {
  border-color: #dadce0;
  box-shadow: rgba(224, 9, 9, 0.1) 0 1px 1px;
  color: #3c2917;
}

.button-33:focus {
  border-color: #3c2917;
  outline: none;
}

.container {
  margin-top: 20px;
  display: flex;
  max-width: 350px;
  flex-wrap: wrap;
}

.image-button {
  touch-action: manipulation;
  cursor: pointer;
  display: block;

  /* display: inline-block;  */
  /* will have default margin */

  margin-right: 3px;
  padding: 0;
  background-color: transparent;
  border: none;
}
